<% provide(:title, 'Editar Gasto') %>
<% provide(:button_text, 'Guardar') %>
<h3>Editar Gasto</h3>

<%= form_for @record, url: update_record_path(@record), :method => :POST do |f| %>
     <p>
<!-- Cambié el f.select con el array de meses, por date_select  -->
     <%=date_select(:calendar, :date)%>

	<%= f.collection_select :product_id, Product.order(:name),:id,:name, include_blank: false %>
	<p>Amount:</p>
   	<%= f.text_field :account, class: "input" %>
   	<p>Add a Note:</p>
   	<%= f.text_field :note, class: "input" %>
	<%= f.hidden_field :boat_id, :value => @record.boat_id %>





 </p>
 <p>
   <%= f.submit "Save", class: "button is-success is-large" %>
 </p>
<% end %>