<div class="block">
    <%= button_to "Añadir Nuevo Gasto", new_record_path, class: "btn btn-large btn-warning" %>
</div>

<% if @exes %>
	<h1>Lista de Gastos</h1>
	<div class="row">
	<table class="table table-striped">
	 <tr class="something">
	   <th id="tabletitle1" class="col-md-2">PRODUCT</th>
	   <th id="tabletitle2" class="col-md-2">Y / D / M</th>
	   <th id="tabletitle3" class="col-md-2">AMOUNT</th>
	   <th id="tabletitle3" class="col-md-4">NOTES</th>
	   <th colspan="6"></th>
	 </tr>
	 <% @exes.each do |exe| %>
	   <tr>
	     <td><%= @products.find(exe.product_id).name %></td>
	     <!-- Aquí le agregué month y day y year, dividiendo en 3 partes esta sección, para poder tener los datos completos del seed -->
	     <!-- Aquí esto va a tener problemas si la clase de fecha es nil -->
	     <td><%= exe.fecha.year %> / <%= exe.fecha.month %> / <%= exe.fecha.day %></td>
	     <td><%= exe.account %></td>
	     <td><%= exe.note %></td></td>
	    
	     <td><%= button_to 'Edit', edit_record_path(exe), class: 'btn btn-primary' %></td>
	     <td><%= button_to 'Destroy', destroy_record_path(exe), class: 'btn btn-danger', method: :delete,
                                  data: { confirm: "You sure?" } %></td>
	   </tr>
	 <% end %>
	</table>
	</div>
<% end %>