<% provide(:title, 'Nuevo Gasto') %>
<h3>Nuevo Gasto</h3>

<%= form_for @record, url: create_record_path, :method => :POST do |f| %>
     <p>
     
    <%=date_select(:calendar, :fecha)%>
	  
    <!-- Aquí le puse grouped collection: group_method - The name of a method which, when called on a member of collection, returns an array of child objects representing the <option> tags. Y le quité el dropdown de productos anterior: (quitar espacio en piquitos para que funcione erb) < %=f.collection_select :product_id, Product.order(:name),:id,:name, include_blank: false %> -->
	<%= grouped_collection_select(:category, :product_id, @categories, :products, :name, :id, :name) %>
	<p>Amount:</p>
   	<%= f.text_field :account, class: "input" %>
   	<p>Add a Note:</p>
   	<%= f.text_field :note, class: "input" %>

 </p>
 <p>
   <%= f.submit "Save", class: "button is-success is-large" %>
 </p>
<% end %>

