<% provide(:title, 'Nuevo Gasto') %>
<h3>Nuevo Gasto</h3>

<%= form_for @record, url: create_record_path, :method => :POST do |f| %>
     <p>
     <%= f.select :mes, ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']%>

	<%= f.collection_select :product_id, Product.order(:name),:id,:name, include_blank: true %>
   	<%= f.text_field :account, class: "input" %>
 </p>
 <p>
   <%= f.submit "Save", class: "button is-success is-large" %>
 </p>
<% end %>

